/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


:root {
    --mons: 'Montserrat', sans-serif;
    --lora: 'Lora', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
    font-family: 'Crimson Pro', serif;
    /* padding: 1rem; */
    color: white;
}

.logo {
    text-align: center;
    margin: auto 0;
    width: 10rem;
    border: 1px white solid;
    padding: 0.5rem;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.navv {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    /* bottom: 53%; */
    top: 0%;
    height: 56.3rem;
    align-items: center;
    width: -webkit-fill-available;
    padding: 17rem 5rem;
    background-color: #181719;
    z-index: 2;
}

.navv.active {
    display: flex;
}

/* body.active {
    padding: 0;
} */

.navv > li {
    margin: 1rem 0;
}

.navv > li > a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: var(--mons);
    font-weight: 700;
}



.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
    cursor: pointer;
    z-index: 69;
}

.hamburger > span {
    height: 0.2rem;
    width: 2rem;
    background-color: white;
    transition: all 0.3s ease;
}

.hamburger.active > span:nth-child(1) {
    transform: rotate(42deg);
    transform-origin: 0 0;
}  

.hamburger.active > span:nth-child(2) {
    transform: rotate(318deg);
    transform-origin: 0 0;
}

.hamburger.active > span:nth-child(3) {
    display: none;
}

main {
    padding: 1rem;
}



.heading {
    text-align: left;
    font-family: var(--lora);
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 500;
    padding-right: 1rem;
}

.description {
    text-align: left;
    width: 60%;
    font-family: var(--mons);
}

.readmore {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--mons); 
}

.demo {
    margin-top: 3rem;
    /* height: 28rem; */
}

.demo__pic > img {
    width: -webkit-fill-available;
}

.tweet {
    color: white;
    padding: 1rem;
    position: relative;
    background-color: #181619;
    top: -5rem;
    width: 20rem;
    left: 4rem;
    box-shadow: black 0px 3px 3px 0px;;
}

.tweet_heading {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-content: center;
    margin-bottom: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--mons);
}

.dp > img {
    border-radius: 50%;
    width: 2rem;
}

.username {
    font-size: 14px;
}

.job {
    font-size: 10px;
    opacity: 40%;
    
}

.tweet_content {
    font-size: 21px;
    width: 70%;
    font-family: VAR(--lora);
    font-weight: 600;
}


footer {
    position: absolute;
    bottom: auto;
    font-family: var(--mons);
    font-size: 12px;
    color: #A9A9A9;
    width: 100%;
    text-align: center;
}

footer > a {
    text-decoration: underline;
    color: #A9A9A9;
    font-weight: 700;
}


@media screen and (min-width: 1440px) {
    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;

    }    

    .demo__pic {
        width: 38rem;
    }

    .heading {
        font-size: 3rem;
    }

    .description {
        font-size: 1.3rem;
    }

    .hamburger {
        display: none;
    }

    .navv {
        display: flex;
        position: relative;
        top: 0;
        height: auto;
        width: auto;
        padding: 0;
        background-color: transparent;
        flex-direction: row;
    }

    .navv > li {
        margin: 1rem 3rem;
    }

    .navv > li > a {
        font-size: 20px;
    }

    footer {
         bottom: 13px;
         font-size: 13px;
    }
}