/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
    font-family: 'Crimson Pro', serif;
    padding: 1rem;
    color: white;
}

.logo {
    text-align: center;
    margin: auto 0;
    width: 10rem;
    border: 1px white solid;
    padding: 0.5rem;
}



